@import 'https://fonts.cdnfonts.com/css/eurostile';
*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: url(../assets/cursor/cursor5.webp), auto;
}

body {
  margin: 0;
  font-family: Eurostile, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.0625rem;
  line-height: 150%;
  color: oklch(85.95% 0.3 143);
  background-color: #000;
  height: 100vh;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  display: block;
}

.section {
  width: 100%;
  padding-inline: 1.5rem;
}

.container {
  margin-inline: auto;
}
.container_map {
  max-width: 81.25rem;
  min-width: 15rem;
  max-height: 37.5rem;
  min-height: 37.5rem;
  height: 100vh;
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
}
.container_control--pannel {
  top: 5.3125rem;
  max-height: 100%;
}

.header {
  max-height: 5rem;
}
.header .nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3.5625rem, 1fr));
  max-width: 81.25rem;
  min-width: 25rem;
  margin-inline: auto;
}
.header .nav_title {
  font-size: 1.875rem;
  font-weight: 700;
  max-width: 80rem;
  white-space: nowrap;
  padding-block: 1.5rem;
  background-color: #000;
  justify-self: left;
}
.header .nav_menu {
  font-size: 1.125rem;
  display: grid;
  grid-template-columns: 3fr min-content 0.4fr min-content 0.4fr min-content 0.4fr min-content;
}
.header .nav_menu--btns {
  justify-self: right;
  align-self: center;
}

.main {
  top: 4.6875rem;
}

.map {
  margin-inline: auto;
  overflow: hidden;
}
.map_content {
  position: absolute;
  width: 100%;
  min-width: 37.5rem;
  height: auto;
  min-height: 37.5rem;
  aspect-ratio: 128/128;
  top: 0;
  left: 0;
  transform-origin: center center;
}
.map_grid {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 81.25rem;
  aspect-ratio: 128/128;
  display: grid;
  grid-template-columns: repeat(128, minmax(0.6348rem, 2.5391rem));
  grid-template-rows: repeat(128, minmax(0.6348rem, 2.5391rem));
}
.map_grid--inside {
  z-index: inherit;
  pointer-events: none;
}
.map_grid--inside:hover {
  background-color: oklch(67.33% 0.151 156.31);
  transition: background-color 0ms;
}
.map_grid--insideRed {
  z-index: inherit;
  pointer-events: none;
}
.map_grid--insideRed:hover {
  background-color: oklch(38.48% 0.155 28.2);
  transition: background-color 0ms;
}
.map_grid--force-green {
  background-color: oklch(67.33% 0.151 156.31);
}
.map_grid--force-red {
  background-color: oklch(38.48% 0.155 28.2);
}
.map_grid::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 0.78125% 0.78125%;
}

.footer {
  padding-block: 1.25rem;
  height: calc(100vh - 42.1875rem);
}

.underbar {
  width: -moz-min-content;
  width: min-content;
  height: 100%;
  display: grid;
  margin-inline: auto;
  grid-template-columns: min-content 1.25rem min-content;
}
.underbar_race {
  display: grid;
  grid-template-rows: 5rem 5rem 5rem;
  height: 100%;
  width: 60px;
  row-gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  align-items: center;
}
.underbar_race img {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-inline: auto;
}
.underbar_race--selection {
  box-sizing: border-box;
  padding: 1.5px;
}
.underbar_race--selection-selected {
  border: 1.5px solid oklch(85.95% 0.3 143);
  box-sizing: border-box;
  padding: 0;
  border-radius: 5px;
}
.underbar_buildings {
  height: 100%;
  display: grid;
}
.underbar_buildings[data-opennth="1"] {
  grid-template-rows: 15.625rem 0 0;
}
.underbar_buildings[data-opennth="2"] {
  grid-template-rows: 0 15.625rem 0;
}
.underbar_buildings[data-opennth="3"] {
  grid-template-rows: 0 0 15.625rem;
}
.underbar_buildings--row:nth-of-type(1) * {
  opacity: 0;
  display: none;
}
.underbar_buildings[data-opennth="1"] .underbar_buildings--row:nth-of-type(1) * {
  opacity: 1;
  display: grid;
}

.underbar_buildings--row:nth-of-type(2) * {
  opacity: 0;
  display: none;
}
.underbar_buildings[data-opennth="2"] .underbar_buildings--row:nth-of-type(2) * {
  opacity: 1;
  display: grid;
}

.underbar_buildings--row:nth-of-type(3) * {
  opacity: 0;
  display: none;
}
.underbar_buildings[data-opennth="3"] .underbar_buildings--row:nth-of-type(3) * {
  opacity: 1;
  display: grid;
}

.underbar_buildings--zerg, .underbar_buildings--protoss, .underbar_buildings--terran {
  display: grid;
  grid-template-columns: repeat(6, 5rem);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.3125rem;
}
.underbar_buildings--zerg > *, .underbar_buildings--protoss > *, .underbar_buildings--terran > * {
  display: grid;
  padding-block: 0.1563rem;
  padding-inline: 0.1563rem;
}
.underbar_buildings--zerg img, .underbar_buildings--protoss img, .underbar_buildings--terran img {
  max-width: 4.6875rem;
  max-height: 4.6875rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-inline: auto;
  align-self: center;
  margin-block: auto;
}
.underbar_buildings--selection {
  box-sizing: border-box;
  padding: 1.5px;
}
.underbar_buildings--selection-selected {
  border: 1.5px solid oklch(96.8% 0.21 110);
  box-sizing: border-box;
  padding: 0;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */